<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <queries>
        <package android:name="com.shihab.diplay" />
        <package android:name="com.shihab.diplay.e01" />
        <package android:name="com.shihab.diplay.e01legacy" />
        <package android:name="com.shihab.diplay.hudtest" />
        <package android:name="com.shilapi.xcertplay" />
    </queries>
    <application android:label="DiPlay 蓝牙诊断" android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:allowBackup="false" android:supportsRtl="true">
        <provider android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.bundles"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/interface_bundle_paths" />
        </provider>
        <activity android:name=".DiagnosticActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
